---
title: 关于宋辰文
permalink: /about/index.html
description: "Android & iOS 开发者<br />比太钱包联合创始人"
layout : page
headline : "Android & iOS 开发者<br />比太钱包联合创始人"
custom_scripts: [github, stackoverflow]
repos:
  - songchenwen/lovebizhi-collector
  - songchenwen/dotfiles
  - songchenwen/bloomfilter-pac
  - songchenwen/Android2iOSStringsWorkflow
  - benjaminoakes/maid
  - BYVoid/OpenCC
  - nate-parrott/Flashlight
---

<style type="text/css">
	.language{
		text-align: right;
	}
	#languages td{
		padding: 0 1em;
	}
	#languages .byte{
		width: 100em;
	}
	.separator{
		padding: 0 0.3em;
	}
</style>

<p class="message text-center lighter">
	<a href="/projects/" data-toggle="tooltip" title="Touched Stars" target="_blank"><i class="icon-github"></i> <span class="star-total">6401</span></a>
	{% if site.owner.stackoverflow and site.owner.stackoverflowid %}
	<span class="separator"> | </span>
	<a href="{{ site.owner.stackoverflow }}" data-toggle="tooltip" title="Reputation" target="_blank"><i class="icon-stackexchange"></i> <span class="reputation" data-id="{{ site.owner.stackoverflowid }}">451</span></a>
	{% endif %}
</p>

<h3 class="text-center">Languages</h3>

<table id="languages" border="1" style="margin:0 auto">
	<tr>
		<td class="language">Java: </td>
		<td id="Java"><span class="byte">0</span> bytes<span class="loading">...</span></td>
	</tr>
	<tr>
		<td class="language">Objective-C: </td>
		<td id="Objective-C"><span class="byte">0</span> bytes<span class="loading">...</span></td>
	</tr>
	<tr>
		<td class="language">JavaScript: </td>
		<td id="JavaScript"><span class="byte">0</span> bytes<span class="loading">...</span></td>
	</tr>
	<tr>
		<td class="language">Ruby: </td>
		<td id="Ruby"><span class="byte">0</span> bytes<span class="loading">...</span></td>
	</tr>
	<tr>
		<td class="language">Shell: </td>
		<td id="Shell"><span class="byte">0</span> bytes<span class="loading">...</span></td>
	</tr>
	<tr>
		<td class="language">Lua: </td>
		<td id="Lua"><span class="byte">0</span> bytes<span class="loading">...</span></td>
	</tr>
</table>

<div class="hidden">
	{% for repo in page.repos %}
		<span class="repo-info" data-repo="{{ repo }}" data-username="{{ site.github.owner_name }}"></span>
	{% endfor %}

	{% for project in site.data.projects %}
		{% for link in project.links %}
			{% if link.repo %}
				<span class="repo-info" data-repo="{{ link.repo }}" data-username="{{ site.github.owner_name }}"></span>
			{% endif %}
		{% endfor %}
	{% endfor %}
</div>
