---
title: Projects
layout : page
custom_script: github
---
<style type="text/css">
	.repo-info{
		font-size: 0.6em;
	}
</style>
<p class="message">
	Projects I build or contribute to.
</p>

<hr style="margin:4em 0" />

{% assign projects = site.data.projects %}

{% for project in projects %}
<div class="row">
	 <article class="post col-md-10 col-md-offset-1">
	 	<header class="post-header">
			<h2 class="post-title">
				{{ project.name }} 
			</h2>
	 	</header>
		<div class="post-body">
			{% if project.desc %}
				{{ project.desc }}
			{% endif %}
			{% if project.links %}
				<ul>
				{% assign links = project.links%}
				{% for link in links %}
						<li>
							<a href="{{ link.url }}">{{ link.name }}</a> 
							<span>{{ link.desc }}</span>
							{% if link.repo %}
								<span class="repo-info" data-repo="{{ link.repo }}" data-username="{{ site.github.owner_name }}">
									<span class="repo-star" style="display:none">
										<span class="star"></span>
										<i class="icon-star"></i>
									</span>
									<span class="repo-contribution" style="display:none">
										<span> | </span>
										<span class="contribution"></span>
									</span>
								</span>
							{% endif %}
						</li>
				{% endfor %}
				</ul>
			{% endif %}
			<hr />
		</div>
	</article>
</div>
{% endfor %}