@font-face {
    font-family: "Source Han Sans SC";
    font-weight: 700;
    src: local("SourceHanSansSC-Bold")
}

@font-face {
    font-family: "Source Han Sans SC";
    font-weight: 500;
    src: local("SourceHanSansSC-Medium")
}

@font-face {
    font-family: "Source Han Sans SC";
    font-weight: 400;
    src: local("SourceHanSansSC-Normal")
}

@font-face {
    font-family: "Source Han Sans SC";
    font-weight: 300;
    src: local("SourceHanSansSC-Light")
}

@font-face {
    font-family: "Source Han Sans SC";
    font-weight: 100;
    src: local("SourceHanSansSC-ExtraLight")
}

@font-face {
    font-family: "Noto Sans CJK SC";
    font-weight: 700;
    src: local("NotoSansCJKSC-Bold")
}

@font-face {
    font-family: "Noto Sans CJK SC";
    font-weight: 500;
    src: local("NotoSansCJKSC-Medium")
}

@font-face {
    font-family: "Noto Sans CJK SC";
    font-weight: 400;
    src: local("NotoSansCJKSC-DemiLight")
}

@font-face {
    font-family: "Noto Sans CJK SC";
    font-weight: 300;
    src: local("NotoSansCJKSC-Light")
}

@font-face {
    font-family: "Noto Sans CJK SC";
    font-weight: 100;
    src: local("NotoSansCJKSC-Thin")
}

@font-face {
    font-family: "PingFang SC";
    font-weight: 700;
    src: local(".PingFang-SC-Semibold")
}

@font-face {
    font-family: "PingFang SC";
    font-weight: 500;
    src: local(".PingFang-SC-Medium")
}

@font-face {
    font-family: "PingFang SC";
    font-weight: 400;
    src: local(".PingFang-SC-Regular")
}

@font-face {
    font-family: "PingFang SC";
    font-weight: 300;
    src: local(".PingFang-SC-Light")
}

@font-face {
    font-family: "PingFang SC";
    font-weight: 100;
    src: local(".PingFang-SC-Thin")
}

@font-face {
    font-family: "Microsoft YaHei UI";
    font-weight: 700;
    src: local("Microsoft YaHei UI Bold")
}

@font-face {
    font-family: "Microsoft YaHei UI";
    font-weight: 500;
    src: local("Microsoft YaHei UI Bold")
}

@font-face {
    font-family: "Microsoft YaHei UI";
    font-weight: 400;
    src: local("Microsoft YaHei UI")
}

@font-face {
    font-family: "Microsoft YaHei UI";
    font-weight: 300;
    src: local("Microsoft YaHei UI Light")
}

@font-face {
    font-family: "Microsoft YaHei UI";
    font-weight: 100;
    src: local("Microsoft YaHei UI Light")
}

@font-face {
  font-family: 'Sacramento';
  font-style: normal;
  font-weight: 400;
  src: local('Sacramento'), local('Sacramento-Regular'), url(../font/Sacramento-Regular.ttf) format('truetype');
}
