---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
	
	<div class="donation">
		<div class="line-mark">
			<span>Bitcoin Donation</span>
		</div>

		<img src="{{ site.baseurl }}public/bitcoin_address.jpg" width="100px" />

		<a href="bitcoin://1scw1vyiKzyoh37gQSLRNYiwHGsfSGtxe">1scw1vyiKzyoh37gQSLRNYiwHGsfSGtxe</a>
	</div>
</div>


<div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

<script type="text/javascript" src="http://garyblog.disqus.com/embed.js"></script>
